<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}

<div class="row">
{{#foreach posts}}
<div class="{{post_class}} col-xs-12 col-lg-10 col-lg-offset-1">

  <!-- {{#if image}}
    <div class="image-holder show">
      <a href="{{url}}" class="inner" style="background-image: url('{{image}}');">
      	<img src="{{image}}">
      </a>
    </div>
  {{/if}} -->

  <header>
    <h2 class="heading"><a href="{{url}}">{{title}}</a></h2>
  </header>

  <p>
    {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}
    by {{author}}
    {{tags prefix="| on "}}
     | posted:
    <span><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></span>
  </p>

  <div class="text">
    <p>{{excerpt words="45"}}</p>
    <a href="{{url}}" class="readmore">Continue Reading</a>
  </div>
  <hr>
</div>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}

</div>
